#wrapper{
    width:100%;
}
.card {
    float:left;
    height:400px;
    overflow:hidden;
    margin : 50px;
}
.card-text {
    height:100px;
    overflow:hidden;
}
#saves .card {
    height:500px;
}
.modal-content {
    width:100%;
}
#note {
    width:80%;
    border:0px;
}
textarea {
    width:100%;
    border:0px;
}
.card button{
    margin-bottom:10px;
    width:100%;
}
.active {
    background-color:rgba(16, 233, 34, 0.884);
}
.navbar li {
    margin-right:10px;
}
.navbar button {
   color:rgba(204, 14, 14, 0.616);
   font-weight: bold;
}

.red {
    color:red;
}